*.a
*.o
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.log
config.status
config.sub
configure
emulator/Makefile
emulator/Makefile.in
life-support/Makefile
life-support/Makefile.in
src/Makefile
src/Makefile.in
src/byteswap_world
src/genera
stamp-h1
stub/Makefile
stub/Makefile.in
